body {
	padding: 50px;
	margin-bottom: 50px;
}
.nav {
	display: block;
	vertical-align: middle;
	padding: 0;
}

.pageheader{
	float:left;
}

.header-links a{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	color: #3f4040;
	font-size: 1.8em;
	top: 30px;
	position: relative;
	letter-spacing: 5px;
}

.header-links a:hover{
	color: #606162;
	text-decoration: none;

}

/*.div-border{
	border-radius: 10px;
	border: 2px solid black;
	width: auto;
}*/

#function-stack {
	display:block;
	width: 60px;
	float: right;
	padding-right: 5px;
	font-size: 12px;
}

#function-stack li {
	margin: 0 0 0 0;
}
#hidden-username {
	display: none;
	font-size: 12px;
	position: fixed;
}
/*#git-avatar:hover #hidden-username {
	display: block;
}*/
#git-avatar {
	display: inline;
}
.lead {
	font-size: 4.0em;
	font-weight: 100;
	letter-spacing: 10px;
	/*float:left;*/
}
.unapproved-label{
	font-size: 2.0em;
	font-weight: 400;
	letter-spacing: 3px;
	text-transform: uppercase;
}
.delete-confirmation{
	font-size: 3.0em;
	font-weight: 300;
	letter-spacing: 2px;
}
.delete-button:hover{
	color: white;
	background-color: #ff3333;
	border: 2px solid #ff3333;
}
.delete-button{
	color: #e60000;
	background-color: white;
	border-radius: 300px;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 600;
	font-style: normal;
	border: 2px solid #e60000;
}

.delete-request-button{
	color: #e60000;
	background-color: white;
	border-radius: 300px;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 600;
	font-style: normal;
	border: 2px solid #e60000;
	display: block;
	width: 100%;
	margin: 5px 2px 10px 2px;
	height: 43px;
}
.delete-request-button:hover{
	color: white;
	background-color: #ff3333;
	border: 2px solid #ff3333;
}

.inline{
	display:inline-block;
}

.hor-center {
	text-align: center;
}

.center-header{
	float:left;
	vertical-align: middle;
	text-align: center;
	position: relative;
	left:5%;
}

.header-links-right{
	float: right;
}

ul {
	list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
	display: inline;
	float:right;
}
li a {
	display: block;
	position: relative;
}

/*.home-header{
	font-size: 2.0em;
	top: 30px;
	position: relative;
}*/

/*.home-header:hover {
	color: #a7dac8;
	text-decoration: none;
}*/

.cancel-button{
	color: #1ca287;
	background-color: white;
  border-radius: 300px;
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 600;
	font-style: normal;
	border: 2px solid #1ca287;
	width:300px;
	height:60px;
}
.cancel-button:hover{
	color: white;
	background-color: #1ca287;
	border: 2px solid #1ca287;
}
.cannot-undone {
	font-size: 1.8em;
	font-weight: 400;
	letter-spacing: 3px;
	text-transform: uppercase;
}
.form-label {
	font-size: 1.0em;
	font-weight: 500;
	letter-spacing: 1px;
}

.vert-align {
	vertical-align: middle;
}

.project-row {
	margin: 10px 0 10px 0;
}
.project-thumb img {
	width: 100%;
}
.project-name {
	font-size: 2.0em;
	font-weight: 200;
}
.project-authors {
	font-size: 1.5em;
	color: #2d2f2e;
	font-weight: 100;
}
.project-authors:before {
	content: "by ";
	font-weight: 100;
	color: #2d2f2e;
}

.project-owner {
	font-size: 1.0em;
	color: #2d2f2e;
	font-weight: 200;
}

.project-url a {
	color: #2d2f2e;
}

.project-url:hover a {
	color: #1ca287;
	text-decoration: none;
}

.project-url a i {
	color: #2d2f2e;
}

.project-url:hover a i {
	color: #1ca287;
}

.project-desc {
	font-weight: 200;
	font-size: 1.0em;
}

.project-desc:first-letter{
  text-transform: capitalize
}

.no-desc {
	font-style: italic;
	font-weight: 200;
	font-size: 1.0em;
}

.url_button {
	color: #1ca287;
	background-color: white;
  border-radius: 300px;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 600;
	font-style: normal;
	border: 2px solid #1ca287;
	margin: 0 2px 0 2px;
}

.url_button:hover {
	color: white;
	background-color: #1ca287;
  border-radius: 300px;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 600;
	font-style: normal;
	border: 2px solid #1ca287;
}

#back-url{
	color: #1ca287;
	float: left;
	font-weight: 200;
	letter-spacing: 2px;
}
#back-url:hover{
	color: #a7dac8;
	text-decoration: none;
}

.footer-url {
	color: #1ca287;
	float: right;
	font-weight: 200;
	letter-spacing: 2px;
}

.footer-url:hover {
	color: #a7dac8;
	text-decoration: none;
}
.edit-form {
  margin: 0 auto;
	width: 500px
}
.form_button {
	width: 500px;
}

.form-text-input {
	border:#1ca287;
}

.small_url_button {
	color: #1ca287;
	background-color: white;
  border-radius: 300px;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 600;
	font-style: normal;
	border: 2px solid #1ca287;
	width: 100px;
	float:left;
}

.small_url_button:hover {
	color: white;
	background-color: #1ca287;
	border: 2px solid #1ca287;
}
