<link rel="stylesheet" href="css/projects.css" />
<div class="center-text">
	<a href="/" ><img height="120" src="//static1.squarespace.com/static/567458eda128e6372f9c1656/t/568d23a5bfe87399730d04b5/1466015926308/?format=1500w" alt="Upperline School of Code"></a>
	<br>
	<p class="lead">Confirm deletion</p>
</div>

<h3>Are you sure you want to delete <strong><%= h project.name %></strong>?</h3>
<h4>This cannot be undone.</h4>
<form action="/delete" method="POST">
	<input type="hidden" name="id" value="<%= h project.id %>">
	<input type="submit" value="Delete" class="btn btn-danger">
</form>
<a href="/" class="btn btn-primary">Cancel</a>
