<link rel="stylesheet" href="css/projects.css" />

<div class="center-text div-border hor-center">

	<div class="delete-confirmation">Are you sure you want to delete "<strong><%= h project.name %></strong>"?</div>
	<div class="cannot-undone">This cannot be undone.</div><br>
	<div class="inline">
		<a href="/" class="btn btn-primary url_button vert-align">Cancel</a>
		<form action="/delete" method="POST" style='float:left'>
			<input type="hidden" name="id" value="<%= h project.id %>">
			<input type="submit" value="Delete" class="btn btn-danger delete-button vert-align">
		</form>
	</div>
</div>

<br><br><br>
