<div class = "edit-form">
	<form action="/submit" method="POST">
		<p class = "form-label">Project name:</p>
		<input type="text" name="name" placeholder="Project name" class="form-control" />
		<br>
		<p class = "form-label">Creators:</p>
		<input type="text" name="authors" placeholder="Project creators" class="form-control" />
		<br>
		<p class = "form-label">URL:</p>
		<input type="url" name="url" placeholder="Project URL (include the http://!)" class="form-control" />
		<br>
		<p class = "form-label">GitHub repository:</p>
		<input type="url" name="ghrepo" placeholder="(optional)" class="form-control" />
		<br>
		<p class = "form-label">Description:</p>
		<textarea name="description" placeholder="Project description" class="form-control"></textarea>
		<br>
		<input type="submit" class="btn btn-primary btn-lg url_button form_button" value="Submit project" />
	</form>
</div>
