<link rel="stylesheet" href="css/projects.css" />


<div class="center-text">
		<a href="/" ><img height="120" src="//static1.squarespace.com/static/567458eda128e6372f9c1656/t/568d23a5bfe87399730d04b5/1466015926308/?format=1500w" alt="Upperline School of Code"></a>
	<p class="lead">Submit New Project</p>
</div>

<div class = "edit-form">
	<form action="/submit" method="POST">

		<p class = "form-label">Project name:</p>
		<input type="text" name="name" placeholder="Project name" class="form-control" />
		<br>
		<p class = "form-label">Creators:</p>
		<input type="text" name="authors" placeholder="Project creators" class="form-control" />
		<br>
		<p class = "form-label">URL:</p>
		<input type="url" name="url" placeholder="Project URL (include the http://!)" class="form-control" />
		<br>
		<p class = "form-label">Description:</p>
	<textarea name="description" placeholder="Project description" class="form-control"></textarea>
		<br>
		<input type="submit" class="btn btn-primary btn-lg url_button form_button" value="Submit project" />
	</form>
</div>
